* {
    color: black;
    font-style: italic;
    justify-content: center;
    background-color: darkgoldenrod;
}

h1 {
    color: blue;
    text-align: center;
}

.but {}

body {
    align-items: center;
}

div {
    border-radius: 50%
}

ul li {
    display: inline-block;
    list-style-type: none;
    margin-top: 15px;
    margin-right: 5%;
}

ul {
    padding-right: 50px;
}